ul,li,h3{
	margin:0;
	padding:0;
	list-style:none;
}
.top, .bottom{
	width:475px !important;
	width:465px;
	float:left;
	padding:5px;
	border:1px black solid;
	margin:1px;
}
.top{
	height:312px;
	overflow:hidden;
}
.bottom{
	height:232px;
	overflow:auto;
}
	#queries li,#queries label{
		cursor:pointer;
		color:#333;
		font-weight:bolder;
		font-size:14px;
	}
#content ul{
	text-align:center;
}
p{
	letter-spacing:3px;
	font-weight:bolder;	
}
#style_text{
	clear:left;
}